body {
  background: #eaeaea;
  font-family: Arial;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.error {
  color: red;
}
